[Desktop Entry]
Type=Application
Name=GeoAlbum
Comment=A new Flutter project.
Icon=com.example.GeoAlbum
Exec=/usr/bin/com.example.GeoAlbum
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.example
ApplicationName=GeoAlbum
